@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Noto+Sans+TC:wght@500;600;700&family=Poppins:wght@400;600;700&family=Press+Start+2P&family=Protest+Revolution&display=swap');
*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: rgba(110, 103, 135, 0.523);
}

.main_page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
.question_page{
  width: 60vw;
  height: 65vh;
  /* border: 2px solid black; */
  border-radius: 2rem;
  background-image: url(https://i.redd.it/x219hh4w95881.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  
}
.fog_page{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
  width: 60vw;
  height: 65vh;
  border: 2px solid black;
  z-index: 1;
  border-radius: 2rem;
  display: none;
}




.timer{
  
  /* border: 2px solid black; */
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Press Start 2P', system-ui;
  color: rgb(234,233,235);
}

.questions{
  display: flex; 
  flex-direction: column;  
  align-items: center;
  position: relative;
  gap: 0.7rem;
  /* display: none; */
}

.question{
  /* the quesiton */
  border: 2px solid black;
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-family: 'Press Start 2P', system-ui;
  width: 70%;
  color: rgb(218,141,164);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;

  
}

.optionsabcd{
  /* border: 2px solid black; */
  width: 400px;
  display: flex;
  flex-direction: row;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  
  
}

.part1{
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Press Start 2P', system-ui;
  gap: 2rem;

  

}
.part2{
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  font-family: 'Press Start 2P', system-ui;
  gap: 2rem;


}
.options{
  border: 2px solid black;
  padding: 0.5rem 2rem;
}

.buttons {
  border: 2px solid black;
  
}

.buttons > button{
  font-family: 'Press Start 2P', system-ui;
  


}
.buttons:hover{
  border: 300px solid green;
}

